.todoContainer {
    width: 100%;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;

}

.list {
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

.empty i {
    padding: 50px;
    font-size: 100px
}