.todoListItem {
    width: 90%;
    border: 1px solid #ffffff;
    background: #dddddd;
    color: black;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 8px;
    cursor: pointer;
}


i {
    font-size: 16px;
    cursor: pointer;
    padding-right: 10px;
}

.done {
    text-decoration: line-through;
}


.remove, .important {
    float: right;
    padding: 0 10px 0 0;
}

.remove {
    color: red;
}


