.todo {
    width: 75%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bc4252, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c2434c, #e96884); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper {
    width: 720px;
    margin: 100px auto;
    display: flex;
    min-height: 500px;
    max-height: 80vh;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 3px 3px 20px #ddd;
}